<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RavenDatabaseName" value="ReChat"/>
    <add key="TwitchClientId" value="hpih6xy33592qwho6en8tcq1untkla9"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
